node_modules
data
knowledge
tts_temp
/.env
emoji_svg
NotoSansSC-Bold.ttf
cloud-api/speech.mp3
python/emoji_svg.zip
python/status-bar-icon/__pycache__
dist
python/__pycache__/
chatbot.log
plugins
use_ollama
use_npm
package-lock.json
docker/volume
.DS_Store
__pycache__
.env.backups
